* {
    box-sizing: border-box;
}
.rootDiv {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr; 
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
}
.productList {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    list-style-type: none;
}




